## Lists and dictionaries

### Lists
- Creating a list
- List indexing
- List operations
- Control flows with lists
- List comprehension

Creating a list

In [1]:
h = 10
h2 = 20
h3 = 30

heights = [10, 20, 30]
type(heights)

In [2]:
chars = ['A', 'B', 'C']
decimals = [10.5, 10, 5]
booleans = [True, False, True]
empty = []

In [3]:
heights = [10, 20, 30, 25, 10]

In [4]:
# check the length of the list 
len(heights)

5

List indexing

In [5]:
# get the first element
heights[0]

10

In [6]:
# slice first to third element
heights[0:3]

[10, 20, 30]

In [7]:
# slice first to third element
heights[:3]

[10, 20, 30]

In [8]:
# slice 
heights[2:]

[30, 25, 10]

In [9]:
# slice with stride
heights[0::2]

[10, 30, 10]

In [10]:
# slice with stride - reverse order 
heights[::-1]

[10, 25, 30, 20, 10]

Lists operations

In [11]:
heights1 = [55, 66, 77]
heights2 = [88, 88, 44]

In [12]:
# concat 
h_concat = heights1 + heights2
h_concat

[55, 66, 77, 88, 88, 44]

In [13]:
# append - 100 to the last position
h_concat.append(100)
h_concat

[55, 66, 77, 88, 88, 44, 100]

In [14]:
h_nested = [heights1, heights2]
h_nested

[[55, 66, 77], [88, 88, 44]]

In [15]:
h_nested[0][1]

66

Control flows with lists

In [16]:
# loop through the list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers_10 = []

for number in numbers:
    print(numbers_10)
    if number%2 == 0:
        numbers_10.append(number*10)
    else:
        numbers_10.append(number*3)
        
print(numbers_10)

[]
[3]
[3, 20]
[3, 20, 9]
[3, 20, 9, 40]
[3, 20, 9, 40, 15]
[3, 20, 9, 40, 15, 60]
[3, 20, 9, 40, 15, 60, 21]
[3, 20, 9, 40, 15, 60, 21, 80]
[3, 20, 9, 40, 15, 60, 21, 80, 27]
[3, 20, 9, 40, 15, 60, 21, 80, 27, 100]

Lists comprehension

In [17]:
# list comprehension
numbers_10_2 = [number*10 if number%2==0 else number*3 for number in numbers]
print(numbers_10_2)

[3, 20, 9, 40, 15, 60, 21, 80, 27, 100]

### Dictionaries
- Creating a dictionary
- Accessing items, keys, values
- Control flows with dictionaries
- Dictionary comprehension

Creating and dictionary and accessing items

In [18]:
cars = {'TOYOTA': 500000, 'HONDA': 550000, 'BMW': 1500000}
print(type(cars))

print(cars.items())
print(cars.keys())
print(cars.values())

print(cars['HONDA'])

print(cars[0:10])

<class 'dict'>
dict_items([('TOYOTA', 500000), ('HONDA', 550000), ('BMW', 1500000)])
dict_keys(['TOYOTA', 'HONDA', 'BMW'])
dict_values([500000, 550000, 1500000])
550000

TypeError: unhashable type: 'slice'

Control flows

In [19]:
for car in cars.items():
    print(car)

('TOYOTA', 500000)
('HONDA', 550000)
('BMW', 1500000)

In [20]:
for car in cars.keys():
    print(car)

TOYOTA
HONDA
BMW

In [21]:
for car_k, car_v in cars.items():
    print('Key: ', car_k, 'Value: ',car_v)

Key:  TOYOTA Value:  500000
Key:  HONDA Value:  550000
Key:  BMW Value:  1500000

In [22]:
for car_k, car_v in cars.items():
    print('Key: ', car_k, 'Value: ',car_v/10**6)

Key:  TOYOTA Value:  0.5
Key:  HONDA Value:  0.55
Key:  BMW Value:  1.5

In [23]:
cars['TOYOTA']

500000

In [24]:
cars_new = {}
for car_k, car_v in cars.items():
    cars_new[car_k] = car_v/10**6
    
print(cars_new)

{'TOYOTA': 0.5, 'HONDA': 0.55, 'BMW': 1.5}

Dictionary comprehension

In [25]:
cars_new = {car_k:car_v/10**6 for car_k, car_v in cars.items()}
print(cars_new)

{'TOYOTA': 0.5, 'HONDA': 0.55, 'BMW': 1.5}