## Merge and Concatenate

#### Merging basics

In [1]:
import pandas as pd

In [2]:
pops = pd.DataFrame({'Country Code': ['THA', 'USA', 'NLD', 'GER'],
                     'Population': [68, 328, 17, 82]})

capitals = pd.DataFrame({'Country Code': ['THA', 'USA', 'NLD', 'GER', 'JPN'],
                         'Country Name': ['Thailand', 'United States', 'Netherlands', 'Germany', 'Japan'],
                         'Capital Name': ['Bangkok', 'Washington D.C.', 'Amsterdam', 'Berlin', 'Tokyo']})
display(pops, capitals)

  Country Code  Population
0          THA          68
1          USA         328
2          NLD          17
3          GER          82

  Country Code   Country Name     Capital Name
0          THA       Thailand          Bangkok
1          USA  United States  Washington D.C.
2          NLD    Netherlands        Amsterdam
3          GER        Germany           Berlin
4          JPN          Japan            Tokyo

#### Concatenate basics

In [7]:
pops2 = pd.DataFrame({'Country Code': ['KOR', 'AFG', 'AUT'],
          'Population': [8, 29, 8]})
display(pops2)

  Country Code  Population
0          KOR           8
1          AFG          29
2          AUT           8

#### Mapping tables example: Toys dataset

In [11]:
products = pd.read_csv('../datasets/toys/products.csv')
stores = pd.read_csv('../datasets/toys/stores.csv')
sales = pd.read_csv('../datasets/toys/sales.csv')
inventory = pd.read_csv('../datasets/toys/inventory.csv')

print('Products: ', products.shape)
print('Stores: ', stores.shape)
print('Sales: ', sales.shape)
print('Inventory: ', inventory.shape)

Products:  (35, 5)
Stores:  (50, 5)
Sales:  (829262, 5)
Inventory:  (1593, 3)